# Python & Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
.venv/
venv/
ENV/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local
.npm
.eslintcache

# Environment variables
.env
.env.local
.env.production

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
